---
import "@styles/reset.scss";
import "@styles/styles.scss";

import background from "@assets/background.svg";

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <img id="background" src={background.src} alt="" fetchpriority="high" />
        <main>
            <div id="container">
                <slot />
            </div>
        </main>
    </body>
</html>
